<template>
  	<ul class="home">
    	<li class="tab_button">
    		<div class="tab_logo">
				<svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 512 512"  xml:space="preserve">
					<path class="icon-stroke-0" d="M452,40h-24V0h-40v40H124V0H84v40H60C26.9,40,0,66.9,0,100v352c0,33.1,26.9,60,60,60h392c33.1,0,60-26.9,60-60
						V100C512,66.9,485.1,40,452,40z M472,452c0,11-9,20-20,20H60c-11,0-20-9-20-20V188h432V452z M472,148H40v-48c0-11,9-20,20-20h24v40
						h40V80h264v40h40V80h24c11,0,20,9,20,20V148z"/>
					<rect x="76" y="230" class="icon-stroke-0" width="40" height="40"/>
					<rect x="156" y="230" class="icon-stroke-0" width="40" height="40"/>
					<rect x="236" y="230" class="icon-stroke-0" width="40" height="40"/>
					<rect x="316" y="230" class="icon-stroke-0" width="40" height="40"/>
					<rect x="396" y="230" class="icon-stroke-0" width="40" height="40"/>
					<rect x="76" y="310" class="icon-stroke-0" width="40" height="40"/>
					<rect x="156" y="310" class="icon-stroke-0" width="40" height="40"/>
					<rect x="236" y="310" class="icon-stroke-0" width="40" height="40"/>
					<rect x="316" y="310" class="icon-stroke-0" width="40" height="40"/>
					<rect x="76" y="390" class="icon-stroke-0" width="40" height="40"/>
					<rect x="156" y="390" class="icon-stroke-0" width="40" height="40"/>
					<rect x="236" y="390" class="icon-stroke-0" width="40" height="40"/>
					<rect x="316" y="390" class="icon-stroke-0" width="40" height="40"/>
					<rect x="396" y="310" class="icon-stroke-0" width="40" height="40"/>
				</svg>
    		</div>
    		<h1>This Weeks's Schedule</h1>
  		</li>
    	<li class="tab_button">
    		<div class="tab_logo">
				<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="378.3px"
	 height="378.3px" viewBox="0 0 378.3 378.3" style="enable-background:new 0 0 378.3 378.3;" xml:space="preserve">
<g>
	<g>
		<path class="icon-stroke-0" d="M189.2,0C84.9,0,0,84.9,0,189.2c0,104.3,84.9,189.2,189.2,189.2c104.3,0,189.2-84.9,189.2-189.2
			C378.3,84.9,293.5,0,189.2,0z M189.2,347.1c-87.1,0-158-70.9-158-158c0-87.1,70.9-158,158-158s158,70.9,158,158
			C347.1,276.3,276.3,347.1,189.2,347.1z"/>
		<path class="icon-stroke-0" d="M204.7,183V75.8c0-8.6-7-15.6-15.6-15.6c-8.6,0-15.6,7-15.6,15.6v113.3c0,4.8,2.2,9.1,5.7,12
			c0.1,0.2,0.2,0.4,0.4,0.5l58.4,66.4c3.1,3.5,7.4,5.3,11.7,5.3c3.7,0,7.3-1.3,10.3-3.9c6.5-5.7,7.1-15.5,1.4-22L204.7,183z"/>
	</g>
</g>
</svg>


    		</div>
    		<h1>Today's Timesheet</h1>
  		</li>
    	<li class="tab_button">
    		<div class="tab_logo">
				<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="347.4px"
	 height="348.9px" viewBox="0 0 347.4 348.9" style="enable-background:new 0 0 347.4 348.9;" xml:space="preserve">
<g>
	<path class="icon-stroke-0" d="M333.2,11.8l-0.4-0.4C324.8,4,314.4,0,303.5,0c-12.2,0-23.9,5.2-32.1,14.2L116,184.2c-1.4,1.6-2.5,3.4-3.2,5.4
		l-18.3,54.8c-2.1,6.3-1.1,13.3,2.8,18.7c3.9,5.4,10.2,8.7,16.9,8.7h0c2.9,0,5.7-0.6,8.4-1.8l52.9-23.1c1.9-0.8,3.6-2.1,5.1-3.6
		L336,73.2C352.2,55.5,350.9,27.9,333.2,11.8z M129.6,234.2l10.7-32.1l0.9-1l20.3,18.6l-0.9,1L129.6,234.2z M313.9,52.9L181.8,197.5
		L161.5,179L293.5,34.4c2.6-2.8,6.1-4.4,10-4.4c3.4,0,6.6,1.3,9.1,3.5l0.4,0.4C318.5,38.9,318.9,47.5,313.9,52.9z"/>
	<path class="icon-stroke-0" d="M303.1,138.4c-8.3,0-15,6.7-15,15v127.3c0,21-17.1,38.1-38.1,38.1H68.1c-21,0-38.1-17.1-38.1-38.1V100.4
		c0-21,17.1-38.1,38.1-38.1h131.6c8.3,0,15-6.7,15-15s-6.7-15-15-15H68.1C30.6,32.3,0,62.8,0,100.4v180.3
		c0,37.6,30.6,68.1,68.1,68.1h181.8c37.6,0,68.1-30.6,68.1-68.1V153.4C318.1,145.1,311.4,138.4,303.1,138.4z"/>
</g>
</svg>

    		</div>
    		<h1>Damage Diagram</h1>
  		</li>
    	<li class="tab_button">
    		<div class="tab_logo">
				<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px"
	 height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<path class="icon-stroke-0" d="M512,256C512,114.5,397.5,0,256,0C114.5,0,0,114.5,0,256c0,140.2,113.5,256,256,256
	C397.9,512,512,396.9,512,256z M256,30c124.6,0,226,101.4,226,226c0,45.6-13.6,89.4-38.7,126.5c-101-108.6-273.4-108.8-374.6,0
	C43.6,345.4,30,301.6,30,256C30,131.4,131.4,30,256,30z M87.4,406.5c89.8-100.7,247.4-100.7,337.2,0
	C334.5,507.3,177.5,507.3,87.4,406.5z"/>
<path class="icon-stroke-0" d="M256,271c49.6,0,90-40.4,90-90v-30c0-49.6-40.4-90-90-90s-90,40.4-90,90v30C166,230.6,206.4,271,256,271z
	 M196,151c0-33.1,26.9-60,60-60s60,26.9,60,60v30c0,33.1-26.9,60-60,60s-60-26.9-60-60V151z"/>
</svg>

    		</div>
    		<h1>Hiring Pipeline</h1>
  		</li>
    	<li class="tab_button">
    		<div class="tab_logo">
				<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px"
	 height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">

<g>
	<g>
		<g>
			<path class="icon-stroke-0" d="M400,0H112C50.1,0,0,50.1,0,112v288c0,61.9,50.1,112,112,112h288c61.9,0,112-50.1,112-112V112
				C512,50.1,461.9,0,400,0z M480,400c0,44.2-35.8,80-80,80H112c-44.2,0-80-35.8-80-80V112c0-44.2,35.8-80,80-80h288
				c44.2,0,80,35.8,80,80V400z"/>
			<path class="icon-stroke-0" d="M160,112h-32c-8.8,0-16,7.2-16,16v32c0,8.8,7.2,16,16,16h32c8.8,0,16-7.2,16-16v-32
				C176,119.2,168.8,112,160,112z"/>
			<path class="icon-stroke-0" d="M160,224h-32c-8.8,0-16,7.2-16,16v32c0,8.8,7.2,16,16,16h32c8.8,0,16-7.2,16-16v-32
				C176,231.2,168.8,224,160,224z"/>
			<path class="icon-stroke-0" d="M160,336h-32c-8.8,0-16,7.2-16,16v32c0,8.8,7.2,16,16,16h32c8.8,0,16-7.2,16-16v-32
				C176,343.2,168.8,336,160,336z"/>
			<rect x="208" y="128" class="icon-stroke-0" width="192" height="32"/>
			<rect x="208" y="240" class="icon-stroke-0" width="192" height="32"/>
			<rect x="208" y="352" class="icon-stroke-0" width="192" height="32"/>
		</g>
	</g>
</g>
</svg>

    		</div>
    		<h1>Route Summary</h1>
  		</li>
    	<li class="tab_button">
    		<div class="tab_logo">
				<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px"
	 height="381px" viewBox="0 0 512 381" style="enable-background:new 0 0 512 381;" xml:space="preserve">

<g>
	<path class="icon-stroke-0" d="M508.7,190.9L430.6,71.7c-3.7-5.6-10-9-16.7-9h-97.2V20c0-11-9-20-20-20H20C9,0,0,9,0,20v301c0,11,9,20,20,20
		h63.4c8.3,23.3,30.5,40,56.6,40s48.3-16.7,56.6-40h141.2c8.3,23.3,30.5,40,56.6,40s48.3-16.7,56.6-40H492c11,0,20-9,20-20V201.8
		C512,197.9,510.9,194.1,508.7,190.9z M140,341c-11,0-20-9-20-20s9-20,20-20s20,9,20,20S151,341,140,341z M276.7,301h-80.1
		c-8.3-23.3-30.5-40-56.6-40s-48.3,16.7-56.6,40H40V40h236.7V301z M394.3,341c-11,0-20-9-20-20s9-20,20-20s20,9,20,20
		S405.4,341,394.3,341z M472,301h-21.1c-8.3-23.3-30.5-40-56.6-40s-48.3,16.7-56.6,40h-21.1V102.7h86.4L472,207.8L472,301z"/>
</g>
</svg>


    		</div>
    		<h1>Vehicle Maintenace</h1>
  		</li>
    	<li class="tab_button">
    		<div class="tab_logo">
<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="350px"
	 height="350px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">

<g>
	<g>
		<polygon class="icon-stroke-0" points="40,310 40,0 0,0 0,350 350,350 350,310 		"/>
		<polygon class="icon-stroke-0" points="218.6,195 271.4,119.4 253.2,106.7 322.5,74.2 315.9,150.5 297.7,137.8 228,237.5 153.4,194.1 
			98,266 72.6,246.5 145.2,152.3 		"/>
	</g>
</g>
</svg>



    		</div>
    		<h1>Composite Scores</h1>
  		</li>
    	<li class="tab_button">
    		<div class="tab_logo">
				<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="490px"
	 height="490px" viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve">

<g>
	<path class="icon-stroke-0" d="M484,455.2L366.2,337.4c29.2-35.6,46.8-81.2,46.8-130.9C413,92.5,320.5,0,206.5,0C92.4,0,0,92.5,0,206.5
		S92.4,413,206.5,413c49.7,0,95.2-17.5,130.8-46.7L455.1,484c8,8,20.9,8,28.9,0C492,476.1,492,463.1,484,455.2z M206.5,371.9
		C115.2,371.9,41,297.7,41,206.5S115.2,41,206.5,41C297.7,41,372,115.3,372,206.5S297.7,371.9,206.5,371.9z"/>
</g>
</svg>

    		</div>
    		<h1>Candidate Search</h1>
  		</li>
    	<li class="tab_button">
    		<div class="tab_logo">
				<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="514.1px"
	 height="402.3px" viewBox="0 0 514.1 402.3" style="enable-background:new 0 0 514.1 402.3;" xml:space="preserve">

<g>
	<g>
		<polygon class="icon-stroke-0" points="257.5,126.9 159.2,225.1 187.3,253.2 226.8,213.5 236.2,189.9 236.2,402.3 278.8,402.3 278.8,190.1 
			287.6,213.3 327.7,253.2 355.6,225.3 		"/>
	</g>
</g>
<g>
	<g>
		<path class="icon-stroke-0" d="M396.2,104.3H394C371.1,42,311.9,0.5,245.6,0c-88-0.6-159.8,70.3-160.4,158.3c0,3.4,0,6.6,0,10
			C37.6,168.8-0.5,207.7,0,255.1c0.5,47.5,39.3,85.6,86.8,85.1h106.7v-42.7H86.8c-23.9,0-43.2-19.3-43.2-43.2s19.3-43.2,43.2-43.2
			l42.7,1.1c0,0-1.9-43.9-1.9-54c-0.5-55,37.6-102.8,91.2-114.7c62.8-13.9,125,25.7,139,88.5l4.7,20.1l20.1-3.6
			c4.5-0.9,9.1-1.4,13.7-1.5c41.6,0,75.3,33.7,75.3,75.3s-33.7,75.3-75.3,75.3h-74.7v42.7h74.7c65.1,0,117.9-52.8,117.9-117.9
			C514.1,157.2,461.3,104.3,396.2,104.3z"/>
	</g>
</g>
</svg>

    		</div>
    		<h1>Upload Data</h1>
  		</li>
    	<li class="tab_button">
    		<div class="tab_logo">
				<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px"
	 height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">

<g>
	<g>
		<path class="icon-stroke-0" d="M452,40h-24V0h-40v40H124V0H84v40H60C26.9,40,0,66.9,0,100v352c0,33.1,26.9,60,60,60h392
			c33.1,0,60-26.9,60-60V100C512,66.9,485.1,40,452,40z M472,452c0,11-9,20-20,20H60c-11,0-20-9-20-20V188h432V452z M472,148H40v-48
			c0-11,9-20,20-20h24v40h40V80h264v40h40V80h24c11,0,20,9,20,20V148z"/>
	</g>
</g>
<polygon class="icon-stroke-0" points="353.3,263.6 330.7,241 226.6,345.1 181.3,299.9 158.7,322.5 226.6,390.3 "/>
</svg>


    		</div>
    		<h1>Time-Off Requests</h1>
  		</li>
    	<li class="tab_button">
    		<div class="tab_logo">
				<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px"
	 height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path class="icon-stroke-0" d="M328.8,368.7c-5.4-3.2-10.9-6.5-16.4-9.7c1.3-11.1,1.3-22.3,0-33.3c5.5-3.2,11.1-6.5,16.4-9.7
			c9-5.4,12.8-16.9,8.7-26.6c0,0,0,0,0,0L325.8,261c-4-9.7-14.8-15.2-25-12.6c-6.1,1.5-12.3,3.1-18.5,4.8
			c-6.9-8.7-14.8-16.6-23.6-23.6c1.7-6.2,3.3-12.4,4.8-18.5c2.5-10.2-2.9-21-12.6-25l-28.4-11.8c-9.7-4-21.2-0.3-26.6,8.7
			c-3.2,5.4-6.5,10.9-9.7,16.4c-11.1-1.3-22.3-1.3-33.3,0c-3.2-5.6-6.5-11.1-9.7-16.4c-5.4-9-16.9-12.8-26.6-8.7l-28.4,11.8
			c-9.7,4-15.2,14.8-12.6,25c1.5,6.1,3.1,12.3,4.8,18.5c-8.7,6.9-16.6,14.8-23.6,23.6c-6.2-1.7-12.4-3.3-18.5-4.8
			c-10.2-2.5-21,2.9-25,12.6L1.6,289.5c-4,9.7-0.3,21.2,8.7,26.6c5.4,3.2,10.9,6.5,16.4,9.7c-1.3,11.1-1.3,22.3,0,33.3
			c-5.5,3.2-11.1,6.4-16.4,9.7c-9,5.4-12.8,16.9-8.7,26.6l11.8,28.4c4,9.7,14.8,15.2,25,12.6c6.1-1.5,12.3-3.1,18.5-4.8
			c6.9,8.7,14.8,16.6,23.6,23.6c-1.7,6.2-3.3,12.4-4.8,18.5c-2.5,10.2,2.9,21,12.6,25l28.4,11.8c2.6,1.1,5.4,1.6,8.1,1.6
			c7.4,0,14.5-3.8,18.5-10.4c3.2-5.3,6.5-10.9,9.7-16.4c11.1,1.3,22.3,1.3,33.3,0c3.2,5.5,6.4,11,9.7,16.4c5.4,9,16.9,12.8,26.6,8.7
			l28.4-11.8c9.7-4,15.2-14.8,12.6-25c-1.5-6-3.1-12.2-4.8-18.5c8.7-6.9,16.6-14.8,23.6-23.6c6.2,1.7,12.4,3.3,18.5,4.8
			c10.2,2.5,21-2.9,25-12.6l11.8-28.4C341.6,385.6,337.9,374.2,328.8,368.7z M305.1,413.8c-5.8-1.5-11.8-3-17.7-4.6
			c-8.4-2.3-17.2,0.7-22.5,7.5c-6.1,7.8-13.2,14.9-21,21c-6.8,5.3-9.7,14.1-7.5,22.5c1.6,6,3.1,11.9,4.6,17.7l-26.1,10.8
			c-3.1-5.2-6.2-10.5-9.3-15.8c-4.3-7.5-12.7-11.7-21.2-10.6c-9.8,1.2-19.8,1.2-29.7,0c-8.6-1.1-16.9,3.1-21.2,10.6
			c-3.1,5.3-6.2,10.6-9.3,15.8l-26.1-10.8c1.5-5.8,3-11.8,4.6-17.7c2.3-8.4-0.7-17.2-7.5-22.5c-7.8-6.1-14.9-13.1-21-21
			c-5.3-6.8-14.1-9.7-22.5-7.5c-5.9,1.6-11.9,3.1-17.7,4.6l-10.8-26.1c5.2-3.1,10.5-6.2,15.8-9.3c7.5-4.3,11.7-12.7,10.6-21.2
			c-1.2-9.8-1.2-19.8,0-29.7c1.1-8.6-3.1-16.9-10.6-21.2c-5.3-3.1-10.6-6.2-15.8-9.3L34.1,271c5.8,1.5,11.8,3,17.7,4.6
			c8.4,2.3,17.2-0.7,22.5-7.5c6.1-7.8,13.2-14.9,21-21c6.8-5.3,9.7-14.1,7.5-22.5c-1.6-5.9-3.1-11.9-4.6-17.7l26.1-10.8
			c3.1,5.1,6.2,10.4,9.3,15.8c4.3,7.5,12.7,11.7,21.2,10.6c9.8-1.2,19.8-1.2,29.7,0c8.6,1.1,16.9-3.1,21.2-10.6
			c3.1-5.3,6.2-10.6,9.3-15.8l26.1,10.8c-1.5,5.8-3,11.8-4.6,17.7c-2.3,8.4,0.7,17.2,7.5,22.5c7.8,6.1,14.9,13.1,21,21
			c5.3,6.8,14.1,9.7,22.5,7.5c5.9-1.6,11.9-3.1,17.7-4.6l10.8,26.1c-5.2,3.1-10.5,6.2-15.8,9.3c-7.5,4.3-11.7,12.7-10.6,21.2
			c1.2,9.8,1.2,19.8,0,29.7c-1.1,8.6,3.1,16.9,10.6,21.2c5.3,3,10.6,6.2,15.8,9.3L305.1,413.8z"/>
	</g>
</g>
<g>
	<g>
		<path class="icon-stroke-0" d="M241.8,312.5C241.8,312.5,241.8,312.5,241.8,312.5c-16.5-39.8-62.3-58.8-102.1-42.3
			C99.9,286.7,81,332.5,97.4,372.3c8,19.3,23,34.3,42.3,42.3c9.6,4,19.8,6,29.9,6s20.3-2,29.9-6
			C239.3,398.1,258.2,352.3,241.8,312.5z M190.7,393.4c-13.6,5.6-28.6,5.6-42.2,0c-13.6-5.6-24.2-16.2-29.9-29.9
			c-11.6-28.1,1.8-60.5,29.9-72.1c6.9-2.9,14-4.2,21-4.2c21.7,0,42.3,12.8,51.1,34.1C232.2,349.4,218.8,381.7,190.7,393.4z"/>
	</g>
</g>
<g>
	<g>
		<path class="icon-stroke-0" d="M496.6,100.9c-4-0.6-8-1.2-12.1-1.7c-2.1-6.9-4.8-13.5-8.2-19.8c2.5-3.3,5-6.6,7.4-9.8
			c5.3-7.2,4.5-17.3-1.8-23.6L466,30.2c-6.3-6.3-16.5-7.1-23.6-1.8c-3.2,2.4-6.5,4.9-9.8,7.4c-6.3-3.4-13-6.2-19.8-8.2
			c-0.5-4.1-1.1-8.2-1.7-12.1c-1.3-8.8-9-15.4-18-15.4h-22.4c-8.9,0-16.6,6.6-18,15.4c-0.6,4-1.2,8-1.7,12.1
			c-6.9,2.1-13.5,4.8-19.8,8.2c-3.3-2.5-6.5-5-9.8-7.4c-7.2-5.3-17.3-4.5-23.6,1.8L282,46c-6.3,6.3-7.1,16.5-1.8,23.6
			c2.4,3.2,4.9,6.5,7.4,9.8c-3.4,6.3-6.2,13-8.2,19.8c-4.1,0.5-8.2,1.1-12.1,1.7c-8.8,1.3-15.4,9-15.4,18v22.4
			c0,8.9,6.6,16.6,15.4,18c4,0.6,8,1.2,12.1,1.7c2.1,6.9,4.8,13.5,8.2,19.8c-2.5,3.3-5,6.6-7.4,9.8c-5.3,7.2-4.5,17.3,1.8,23.6
			l15.8,15.8c6.3,6.3,16.5,7.1,23.6,1.8c3.2-2.4,6.5-4.9,9.8-7.4c6.3,3.4,13,6.2,19.8,8.2c0.5,4.1,1.1,8.2,1.7,12.1
			c1.3,8.8,9,15.4,18,15.4h22.4c8.9,0,16.6-6.6,18-15.4c0.6-4,1.2-8,1.7-12.1c6.9-2.1,13.5-4.8,19.8-8.2c3.3,2.5,6.5,5,9.8,7.4
			c7.2,5.3,17.3,4.5,23.6-1.8l15.8-15.8c6.3-6.3,7.1-16.5,1.8-23.6c-2.4-3.2-4.9-6.5-7.4-9.8c3.4-6.3,6.2-13,8.2-19.8
			c4.1-0.5,8.2-1.1,12.1-1.7c8.8-1.3,15.4-9,15.4-18v-22.4C512,110,505.4,102.3,496.6,100.9z M490.2,138.1c-3.6,0.5-7.3,1-10.9,1.5
			c-7.3,0.9-13.2,6.1-15.2,13.1c-1.9,6.7-4.6,13.2-8,19.3c-3.6,6.4-3.1,14.2,1.4,20c2.3,2.9,4.5,5.9,6.7,8.8l-11.4,11.4
			c-2.9-2.2-5.9-4.4-8.8-6.7c-5.8-4.5-13.7-5-20-1.4c-6.1,3.5-12.6,6.2-19.3,8c-7,1.9-12.2,7.9-13.1,15.2c-0.5,3.7-1,7.3-1.5,10.9
			h-16.1c-0.5-3.6-1-7.3-1.5-10.9c-0.9-7.3-6.1-13.2-13.1-15.2c-6.7-1.9-13.2-4.6-19.3-8c-6.4-3.6-14.2-3.1-20,1.4
			c-2.9,2.3-5.9,4.5-8.8,6.7L299.6,201c2.2-2.9,4.4-5.9,6.7-8.8c4.5-5.8,5-13.7,1.4-20c-3.5-6.1-6.2-12.6-8-19.3
			c-1.9-7-7.9-12.2-15.2-13.1c-3.7-0.5-7.3-1-10.9-1.5V122c3.6-0.5,7.3-1,10.9-1.5c7.3-0.9,13.2-6.1,15.2-13.1
			c1.9-6.7,4.6-13.2,8-19.3c3.6-6.4,3.1-14.2-1.4-20c-2.3-2.9-4.5-5.9-6.7-8.8L311,47.8c2.9,2.2,5.9,4.4,8.8,6.7
			c5.8,4.5,13.7,5,20,1.4c6.1-3.5,12.6-6.2,19.3-8c7-1.9,12.2-7.9,13.1-15.2c0.5-3.7,1-7.3,1.5-10.9H390c0.5,3.6,1,7.3,1.5,10.9
			c0.9,7.3,6.1,13.2,13.1,15.2c6.7,1.9,13.2,4.6,19.3,8c6.4,3.6,14.2,3,20-1.4c2.9-2.2,5.9-4.5,8.8-6.7l11.4,11.4
			c-2.2,2.9-4.4,5.9-6.7,8.8c-4.5,5.8-5,13.7-1.4,20c3.5,6.1,6.2,12.6,8,19.3c1.9,7,7.9,12.2,15.2,13.2c3.7,0.5,7.3,1,10.9,1.5
			L490.2,138.1L490.2,138.1z"/>
	</g>
</g>
<g>
	<g>
		<path class="icon-stroke-0" d="M381.9,83.7c-25.6,0-46.4,20.8-46.4,46.4c0,25.6,20.8,46.4,46.4,46.4s46.4-20.8,46.4-46.4
			C428.3,104.5,407.5,83.7,381.9,83.7z M381.9,155.9c-14.2,0-25.8-11.6-25.8-25.8s11.6-25.8,25.8-25.8s25.8,11.6,25.8,25.8
			C407.7,144.3,396.1,155.9,381.9,155.9z"/>
	</g>
</g>
</svg>

    		</div>
    		<h1>Settings</h1>
  		</li>
  	</ul>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  }
}
</script>
<style scoped>
.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em;
    padding: 1em;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.icon-stroke-0{fill:#ba3847}
h1 {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #ba3847;
}
.tab_button {
    border: 2px solid #ba3847;
    overflow: hidden;
    border-radius: 0.3em;
    height: 12em;
    display: grid;
    grid-template-rows: 8em 1.2em;
    grid-gap: 1em;
	margin: 0px;
}

.tab_logo > svg {
    width: 4em;
    max-height: 9em;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}
</style>
