<template>
  <div class="hello">
    <div class="tab_logo">
      <!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 512 512"  xml:space="preserve">
<path class="st0" d="M452,40h-24V0h-40v40H124V0H84v40H60C26.9,40,0,66.9,0,100v352c0,33.1,26.9,60,60,60h392c33.1,0,60-26.9,60-60
	V100C512,66.9,485.1,40,452,40z M472,452c0,11-9,20-20,20H60c-11,0-20-9-20-20V188h432V452z M472,148H40v-48c0-11,9-20,20-20h24v40
	h40V80h264v40h40V80h24c11,0,20,9,20,20V148z"/>
<rect x="76" y="230" class="st0" width="40" height="40"/>
<rect x="156" y="230" class="st0" width="40" height="40"/>
<rect x="236" y="230" class="st0" width="40" height="40"/>
<rect x="316" y="230" class="st0" width="40" height="40"/>
<rect x="396" y="230" class="st0" width="40" height="40"/>
<rect x="76" y="310" class="st0" width="40" height="40"/>
<rect x="156" y="310" class="st0" width="40" height="40"/>
<rect x="236" y="310" class="st0" width="40" height="40"/>
<rect x="316" y="310" class="st0" width="40" height="40"/>
<rect x="76" y="390" class="st0" width="40" height="40"/>
<rect x="156" y="390" class="st0" width="40" height="40"/>
<rect x="236" y="390" class="st0" width="40" height="40"/>
<rect x="316" y="390" class="st0" width="40" height="40"/>
<rect x="396" y="310" class="st0" width="40" height="40"/>
</svg>

    </div>
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.st0{fill:#000000}
h1 {
    text-align: center;
    font-size: 1rem;
}
.hello {
    border: 2px solid #000000;
    overflow: hidden;
    border-radius: 0.3em;
    height: 12em;
    display: grid;
    grid-template-rows: 8em 1.2em;
    grid-gap: 1em;
}

.tab_logo > svg {
    width: 4em;
    max-height: 9em;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}
</style>
