<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
	<div class="app_container">
		
    <div class="side_nav">
      <div class="side_nav_controls">
        <div class="side_nav_logo">
			<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="133px"
	 height="49.1px" viewBox="0 0 133 49.1" style="enable-background:new 0 0 133 49.1;" xml:space="preserve">
<g>
	<path class="st0" d="M48.2,49.1h65.7c10.5,0,19.1-8.6,19.1-19.1V0H48.2L48.2,49.1z"/>
	<path class="st1" d="M48.2,49.1h-29C8.6,49.1,0,40.5,0,30V0h48.2L48.2,49.1z"/>
	<path class="st2" d="M23,31c-0.4,1.9-2.1,3.4-4.2,3.4c-2.3,0-4.3-1.9-4.3-4.2s1.9-4.2,4.3-4.2c1.4,0,2.6,0.7,3.4,1.7l11.4-0.3
		c-1.3-7.1-7.6-12.5-15.1-12.5c-8.5,0-15.3,6.9-15.3,15.3S10,45.5,18.5,45.5c8.2,0,14.9-6.5,15.3-14.6L23,31z"/>
	<path class="st3" d="M76,31c0.4,1.9,2.1,3.4,4.2,3.4c2.3,0,4.2-1.9,4.2-4.2s-1.9-4.2-4.2-4.2c-0.9,0-1.7,0.3-2.4,0.7l-0.1-11.6
		c0.9-0.2,1.8-0.2,2.7-0.2c8.5,0,15.3,6.9,15.3,15.3s-6.9,15.3-15.3,15.3c-8.2,0-14.9-6.5-15.3-14.6V4.8h11L76,31z"/>
	<rect x="35.8" y="15.5" class="st2" width="11" height="29.2"/>
	<circle class="st2" cx="41.3" cy="7.9" r="5.5"/>
	<rect x="49.8" y="15.5" class="st3" width="11" height="29.2"/>
	<circle class="st3" cx="55.3" cy="7.9" r="5.5"/>
	<path class="st3" d="M98.7,30.2c0-8.5,6.9-15.3,15.3-15.3s15.3,6.9,15.3,15.3s-6.9,15.3-15.3,15.3S98.7,38.7,98.7,30.2z M114,34.7
		c2.5,0,4.5-2,4.5-4.5s-2-4.5-4.5-4.5c-2.5,0-4.5,2-4.5,4.5S111.5,34.7,114,34.7z"/>
</g>
</svg>

        </div>
        <ul class="side_nav_links">	
			<li class="side-navigation-item">
				<router-link tag="a" to="/">
					<span class="side-navigation-icon">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="236.9px"
	 height="126px" viewBox="0 0 236.9 126" style="enable-background:new 0 0 236.9 126;" xml:space="preserve">

<g>
	<path class="icon-stroke-0" d="M202.8,35.4c-0.2-0.2-0.4-0.5-0.6-0.7c-0.2-0.2-0.5-0.4-0.7-0.6C180.1,13,150.8,0,118.5,0c0,0,0,0,0,0
		c0,0,0,0,0,0c-32.3,0-61.6,13-83,34.1c-0.2,0.2-0.5,0.4-0.7,0.6c-0.2,0.2-0.4,0.5-0.6,0.7C13,56.8,0,86.1,0,118.5
		c0,4.1,3.4,7.5,7.5,7.5h221.9c4.1,0,7.5-3.4,7.5-7.5C236.9,86.1,223.9,56.8,202.8,35.4z M118.5,92.2c-7.4,0-14,3-18.8,7.9L95,98.1
		c5.7-6.6,14.1-10.7,23.5-10.7c14.6,0,26.8,10.1,30.2,23.6h-5.1C140.4,100.1,130.3,92.2,118.5,92.2z M158.9,111
		c-3.5-19.1-20.3-33.6-40.4-33.6c-13.5,0-25.5,6.5-33,16.6L43,75.5c-3.8-1.7-8.2,0.1-9.9,3.9s0.1,8.2,3.9,9.9l41.8,18.2
		c-0.3,1.2-0.6,2.3-0.8,3.5H15.3c1.6-22.9,10.8-43.7,25-60.1l5.1,5.1c1.5,1.5,3.4,2.2,5.3,2.2s3.8-0.7,5.3-2.2
		c2.9-2.9,2.9-7.7,0-10.6l-5.1-5.1c16.4-14.2,37.2-23.3,60.1-25v8.5c0,4.1,3.4,7.5,7.5,7.5s7.5-3.4,7.5-7.5v-8.5
		c22.9,1.6,43.7,10.8,60.1,25l-5.1,5.1C178,48.3,178,53,181,56c1.5,1.5,3.4,2.2,5.3,2.2s3.8-0.7,5.3-2.2l5.1-5.1
		c14.2,16.4,23.3,37.2,25,60.1L158.9,111L158.9,111z"/>
</g>
</svg></span>
					<span class="side-navigation-label">Home</span>
				</router-link>
			</li>
			<li class="side-navigation-item">
				<router-link tag="a" to="/h">
					<span class="side-navigation-icon">
					<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="427.2px"
	 height="512px" viewBox="0 0 427.2 512" style="enable-background:new 0 0 427.2 512;" xml:space="preserve">

<path class="icon-stroke-0" d="M210.4,246.6c33.9,0,63.2-12.2,87.2-36.1c24-24,36.1-53.3,36.1-87.2c0-33.9-12.2-63.2-36.1-87.2
	c-24-24-53.3-36.1-87.2-36.1c-33.9,0-63.2,12.2-87.2,36.1S87,89.4,87,123.3c0,33.9,12.2,63.2,36.1,87.2
	C147.1,234.5,176.5,246.6,210.4,246.6z M144.4,57.3c18.4-18.4,40-27.3,66-27.3c26,0,47.6,8.9,66,27.3c18.4,18.4,27.3,40,27.3,66
	c0,26-8.9,47.6-27.3,66c-18.4,18.4-40,27.3-66,27.3c-26,0-47.6-8.9-66-27.3c-18.4-18.4-27.3-40-27.3-66
	C117,97.3,126,75.7,144.4,57.3z"/>
<path class="icon-stroke-0" d="M426.1,393.7c-0.7-10-2.1-20.9-4.1-32.4c-2.1-11.6-4.8-22.5-8-32.5c-3.3-10.3-7.8-20.6-13.4-30.3
	c-5.8-10.2-12.6-19-20.2-26.3c-8-7.6-17.7-13.7-29-18.2c-11.2-4.4-23.7-6.7-37-6.7c-5.2,0-10.3,2.1-20,8.5c-6,3.9-13,8.4-20.9,13.5
	c-6.7,4.3-15.8,8.3-27,11.9c-10.9,3.5-22.1,5.3-33,5.3c-11,0-22.1-1.8-33-5.3c-11.2-3.6-20.3-7.6-27-11.9c-7.8-5-14.8-9.5-20.9-13.5
	c-9.8-6.4-14.8-8.5-20-8.5c-13.3,0-25.8,2.3-37,6.7c-11.3,4.5-21,10.6-29,18.2c-7.6,7.3-14.4,16.1-20.2,26.3
	c-5.6,9.8-10.1,20-13.4,30.3c-3.2,10-5.9,20.9-8,32.5c-2.1,11.5-3.5,22.4-4.1,32.4c-0.7,9.8-1,20-1,30.2c0,26.7,8.5,48.4,25.2,64.3
	C41.8,504,63.7,512,90.3,512h246.5c26.6,0,48.5-8,65.1-23.7c16.8-15.9,25.3-37.6,25.3-64.3C427.2,413.6,426.8,403.5,426.1,393.7z
	 M381.2,466.5c-10.9,10.4-25.4,15.5-44.4,15.5H90.3c-18.9,0-33.4-5.1-44.4-15.5C35.2,456.3,30,442.4,30,423.9
	c0-9.6,0.3-19.1,0.9-28.2c0.6-8.9,1.9-18.7,3.8-29.1c1.8-10.3,4.2-19.9,7-28.7c2.7-8.4,6.3-16.7,10.9-24.7
	c4.3-7.6,9.3-14.2,14.8-19.4c5.1-4.9,11.6-9,19.3-12c7.1-2.8,15-4.3,23.6-4.6c1.1,0.6,2.9,1.6,6,3.6c6.2,4,13.3,8.6,21.1,13.6
	c8.9,5.6,20.3,10.8,33.9,15.2c13.9,4.5,28.2,6.8,42.3,6.8s28.3-2.3,42.3-6.8c13.6-4.4,25.1-9.5,33.9-15.2c8-5.1,15-9.6,21.1-13.6
	c3-2,4.9-3,6-3.6c8.6,0.2,16.6,1.8,23.6,4.6c7.6,3,14.1,7.1,19.3,12c5.5,5.3,10.5,11.8,14.8,19.4c4.5,8,8.2,16.3,10.9,24.7
	c2.8,8.8,5.2,18.4,7,28.7c1.9,10.4,3.1,20.2,3.8,29.1v0c0.6,9.1,1,18.5,1,28.1C397.2,442.4,391.9,456.3,381.2,466.5z"/>
</svg>

</span>
					<span class="side-navigation-label">Home</span>
				</router-link>
			</li>
			<li class="side-navigation-item">
				<router-link tag="a" to="/Tools">
					<span class="side-navigation-icon">
					<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px"
	 height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">

<g>
	<g>
		<path class="icon-stroke-0" d="M496.4,90.8c-2.1-4.4-6.2-7.5-11-8.3c-4.8-0.8-9.7,0.7-13.1,4.2l-85.8,85.8l-47-47l85.8-85.8
			c3.4-3.4,5-8.3,4.2-13.1c-0.8-4.8-3.9-8.9-8.3-11C399.9,5.4,376.1,0,352.4,0c-42.6,0-82.7,16.6-112.8,46.7
			c-45.2,45.2-58.8,113-35.5,171.8L18.5,404.1c-0.1,0.1-0.1,0.1-0.2,0.2C6.5,416.2,0,432,0,448.8c0,16.9,6.6,32.8,18.5,44.7
			C30.4,505.4,46.3,512,63.2,512s32.8-6.6,44.7-18.5l185.6-185.6c18.7,7.4,38.8,11.3,59,11.3c0,0,0,0,0,0
			c42.6,0,82.7-16.6,112.8-46.7C513,224.7,525.5,151.7,496.4,90.8z M444,251.2c-24.5,24.5-57,38-91.6,38c-19.3,0-38.6-4.4-55.9-12.6
			c-5.7-2.7-12.6-1.6-17.1,2.9L86.7,472.3c-6.3,6.3-14.6,9.7-23.5,9.7c-8.9,0-17.2-3.5-23.5-9.7S30,457.7,30,448.8
			c0-8.9,3.5-17.2,9.7-23.5c0.1-0.1,0.1-0.1,0.2-0.2l192.6-192.6c4.5-4.5,5.7-11.3,2.9-17.1C211.8,166,222,106.7,260.8,67.9
			c24.5-24.5,57-37.9,91.6-37.9c11.9,0,23.9,1.7,35.3,4.9l-80,80c-5.9,5.9-5.9,15.4,0,21.2l68.2,68.2c2.8,2.8,6.6,4.4,10.6,4.4
			c4,0,7.8-1.6,10.6-4.4l80-80C489.7,168.8,477.6,217.7,444,251.2z"/>
	</g>
</g>
</svg>

</span>
					<span class="side-navigation-label">Tools</span>
				</router-link>
			</li>
			<li class="side-navigation-item">
				<router-link tag="a" to="/Performance">
					<span class="side-navigation-icon">
					<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px"
	 height="480px" viewBox="0 0 512 480" style="enable-background:new 0 0 512 480;" xml:space="preserve">

<g>
	<g>
		<path class="icon-stroke-0" d="M497,0h-60c-8.3,0-15,6.7-15,15s6.7,15,15,15h28.8L286,209l-79.4-79.4c-5.8-5.8-15.3-5.9-21.2,0l-181,180
			c-5.9,5.8-5.9,15.3-0.1,21.2c5.8,5.9,15.3,5.9,21.2,0.1L196,161.3l79.4,79.4c5.8,5.8,15.3,5.9,21.2,0L482,56.2V75
			c0,8.3,6.7,15,15,15s15-6.7,15-15V15C512,6.7,505.3,0,497,0z"/>
	</g>
</g>
<g>
	<g>
		<path class="icon-stroke-0" d="M456.4,124.4L286,293.8l-79.4-79.4c-5.8-5.8-15.3-5.9-21.2,0l-181,180C1.6,397.2,0,401,0,405v60
			c0,8.3,6.7,15,15,15h452c8.3,0,15-6.7,15-15V135C482,121.7,465.9,115,456.4,124.4z M91,450H30v-38.8l61-60.7V450z M181,450h-60
			V320.7l60-59.7V450z M271,450h-60V261.2l60,60V450z M361,450h-60V321.2l60-59.7V450z M452,450h-61V231.7l61-60.7V450z"/>
	</g>
</g>
</svg>
</span>
					<span class="side-navigation-label">Performance</span>
				</router-link>
			</li>
			<li class="side-navigation-item">
				<router-link tag="a" to="/Reports">
					<span class="side-navigation-icon">
					<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px"
	 height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">

<path class="icon-stroke-0" d="M456.8,80.3h-25.2V55.2c0-30.4-24.7-55.2-55.2-55.2H55.2C24.7,0,0,24.7,0,55.2v401.7C0,487.3,24.7,512,55.2,512
	h401.7c30.4,0,55.2-24.7,55.2-55.2V135.5C512,105.1,487.3,80.3,456.8,80.3z M482,456.8c0,13.9-11.3,25.2-25.2,25.2H55.2
	C41.3,482,30,470.7,30,456.8V55.2C30,41.3,41.3,30,55.2,30h321.3c13.9,0,25.2,11.3,25.2,25.2v361.5c0,8.3,6.7,15,15,15s15-6.7,15-15
	V110.3h25.2c13.9,0,25.2,11.3,25.2,25.2V456.8z"/>
<path class="icon-stroke-0" d="M79.3,214.8h112.5c8.3,0,15-6.7,15-15V87.3c0-8.3-6.7-15-15-15H79.3c-8.3,0-15,6.7-15,15v112.5
	C64.3,208.1,71,214.8,79.3,214.8z M94.3,102.3h82.5v82.5H94.3V102.3z"/>
<path class="icon-stroke-0" d="M368.5,72.3H256c-8.3,0-15,6.7-15,15s6.7,15,15,15h112.5c8.3,0,15-6.7,15-15S376.8,72.3,368.5,72.3z"/>
<path class="icon-stroke-0" d="M368.5,184.8H256c-8.3,0-15,6.7-15,15c0,8.3,6.7,15,15,15h112.5c8.3,0,15-6.7,15-15S376.8,184.8,368.5,184.8z"
	/>
<path class="icon-stroke-0" d="M368.5,128.5H256c-8.3,0-15,6.7-15,15c0,8.3,6.7,15,15,15h112.5c8.3,0,15-6.7,15-15
	C383.5,135.2,376.8,128.5,368.5,128.5z"/>
<path class="icon-stroke-0" d="M368.5,241H79.3c-8.3,0-15,6.7-15,15s6.7,15,15,15h289.2c8.3,0,15-6.7,15-15S376.8,241,368.5,241z"/>
<path class="icon-stroke-0" d="M199.8,297.2H79.3c-8.3,0-15,6.7-15,15c0,8.3,6.7,15,15,15h120.5c8.3,0,15-6.7,15-15
	C214.8,303.9,208.1,297.2,199.8,297.2z"/>
<path class="icon-stroke-0" d="M368.5,297.2H248c-8.3,0-15,6.7-15,15c0,8.3,6.7,15,15,15h120.5c8.3,0,15-6.7,15-15
	C383.5,303.9,376.8,297.2,368.5,297.2z"/>
<path class="icon-stroke-0" d="M199.8,353.5H79.3c-8.3,0-15,6.7-15,15c0,8.3,6.7,15,15,15h120.5c8.3,0,15-6.7,15-15
	C214.8,360.2,208.1,353.5,199.8,353.5z"/>
<path class="icon-stroke-0" d="M368.5,353.5H248c-8.3,0-15,6.7-15,15c0,8.3,6.7,15,15,15h120.5c8.3,0,15-6.7,15-15
	C383.5,360.2,376.8,353.5,368.5,353.5z"/>
<path class="icon-stroke-0" d="M199.8,409.7H79.3c-8.3,0-15,6.7-15,15s6.7,15,15,15h120.5c8.3,0,15-6.7,15-15S208.1,409.7,199.8,409.7z"/>
<path class="icon-stroke-0" d="M368.5,409.7H248c-8.3,0-15,6.7-15,15s6.7,15,15,15h120.5c8.3,0,15-6.7,15-15S376.8,409.7,368.5,409.7z"/>
</svg>
</span>
					<span class="side-navigation-label">Reports</span>
				</router-link>
			</li>
			<li class="side-navigation-item">
				<router-link tag="a" to="/Administration">
					<span class="side-navigation-icon">
					<!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="478.7px"
	 height="478.7px" viewBox="0 0 478.7 478.7" style="enable-background:new 0 0 478.7 478.7;" xml:space="preserve">

<g>
	<g>
		<path class="icon-stroke-0" d="M454.2,189.1l-33.6-5.7c-3.5-11.3-8-22.2-13.5-32.6l19.8-27.7c8.4-11.8,7.1-27.9-3.2-38.1l-29.8-29.8
			c-5.6-5.6-13-8.7-20.9-8.7c-6.2,0-12.1,1.9-17.1,5.5l-27.8,19.8c-10.8-5.7-22.1-10.4-33.8-13.9l-5.6-33.2
			C286.3,10.4,274,0,259.5,0h-42.1c-14.5,0-26.8,10.4-29.2,24.7l-5.8,34c-11.2,3.5-22.1,8.1-32.5,13.7l-27.5-19.8
			c-5-3.6-11-5.5-17.2-5.5c-7.9,0-15.4,3.1-20.9,8.7L54.4,85.6c-10.2,10.2-11.6,26.3-3.2,38.1l20,28.1c-5.5,10.5-9.9,21.4-13.3,32.7
			l-33.2,5.6C10.4,192.5,0,204.8,0,219.3v42.1c0,14.5,10.4,26.8,24.7,29.2l34,5.8c3.5,11.2,8.1,22.1,13.7,32.5l-19.7,27.4
			c-8.4,11.8-7.1,27.9,3.2,38.1l29.8,29.8c5.6,5.6,13,8.7,20.9,8.7c6.2,0,12.1-1.9,17.1-5.5l28.1-20c10.1,5.3,20.7,9.6,31.6,13
			L189,454c2.4,14.3,14.7,24.7,29.2,24.7h42.2c14.5,0,26.8-10.4,29.2-24.7l5.7-33.6c11.3-3.5,22.2-8,32.6-13.5l27.7,19.8
			c5,3.6,11,5.5,17.2,5.5l0,0c7.9,0,15.3-3.1,20.9-8.7l29.8-29.8c10.2-10.2,11.6-26.3,3.2-38.1l-19.8-27.8
			c5.5-10.5,10.1-21.4,13.5-32.6l33.6-5.6c14.3-2.4,24.7-14.7,24.7-29.2v-42.1C478.9,203.8,468.5,191.5,454.2,189.1z M451.9,260.4
			c0,1.3-0.9,2.4-2.2,2.6l-42,7c-5.3,0.9-9.5,4.8-10.8,9.9c-3.8,14.7-9.6,28.8-17.4,41.9c-2.7,4.6-2.5,10.3,0.6,14.7l24.7,34.8
			c0.7,1,0.6,2.5-0.3,3.4l-29.8,29.8c-0.7,0.7-1.4,0.8-1.9,0.8c-0.6,0-1.1-0.2-1.5-0.5l-34.7-24.7c-4.3-3.1-10.1-3.3-14.7-0.6
			c-13.1,7.8-27.2,13.6-41.9,17.4c-5.2,1.3-9.1,5.6-9.9,10.8l-7.1,42c-0.2,1.3-1.3,2.2-2.6,2.2h-42.1c-1.3,0-2.4-0.9-2.6-2.2l-7-42
			c-0.9-5.3-4.8-9.5-9.9-10.8c-14.3-3.7-28.1-9.4-41-16.8c-2.1-1.2-4.5-1.8-6.8-1.8c-2.7,0-5.5,0.8-7.8,2.5l-35,24.9
			c-0.5,0.3-1,0.5-1.5,0.5c-0.4,0-1.2-0.1-1.9-0.8L75,375.6c-0.9-0.9-1-2.3-0.3-3.4l24.6-34.5c3.1-4.4,3.3-10.2,0.6-14.8
			c-7.8-13-13.8-27.1-17.6-41.8c-1.4-5.1-5.6-9-10.8-9.9L29.2,264c-1.3-0.2-2.2-1.3-2.2-2.6v-42.1c0-1.3,0.9-2.4,2.2-2.6l41.7-7
			c5.3-0.9,9.6-4.8,10.9-10c3.7-14.7,9.4-28.9,17.1-42c2.7-4.6,2.4-10.3-0.7-14.6l-24.9-35c-0.7-1-0.6-2.5,0.3-3.4l29.8-29.8
			c0.7-0.7,1.4-0.8,1.9-0.8c0.6,0,1.1,0.2,1.5,0.5l34.5,24.6c4.4,3.1,10.2,3.3,14.8,0.6c13-7.8,27.1-13.8,41.8-17.6
			c5.1-1.4,9-5.6,9.9-10.8l7.2-42.3c0.2-1.3,1.3-2.2,2.6-2.2h42.1c1.3,0,2.4,0.9,2.6,2.2l7,41.7c0.9,5.3,4.8,9.6,10,10.9
			c15.1,3.8,29.5,9.7,42.9,17.6c4.6,2.7,10.3,2.5,14.7-0.6l34.5-24.8c0.5-0.3,1-0.5,1.5-0.5c0.4,0,1.2,0.1,1.9,0.8l29.8,29.8
			c0.9,0.9,1,2.3,0.3,3.4l-24.7,34.7c-3.1,4.3-3.3,10.1-0.6,14.7c7.8,13.1,13.6,27.2,17.4,41.9c1.3,5.2,5.6,9.1,10.8,9.9l42,7.1
			c1.3,0.2,2.2,1.3,2.2,2.6L451.9,260.4L451.9,260.4z"/>
		<path class="icon-stroke-0" d="M239.4,136c-57,0-103.3,46.3-103.3,103.3s46.3,103.3,103.3,103.3s103.3-46.3,103.3-103.3S296.4,136,239.4,136
			z M239.4,315.6c-42.1,0-76.3-34.2-76.3-76.3s34.2-76.3,76.3-76.3s76.3,34.2,76.3,76.3S281.5,315.6,239.4,315.6z"/>
	</g>
</g>
</svg>
</span>
					<span class="side-navigation-label">Administration</span>
				</router-link>
			</li>
        </ul>

      </div>

    </div>
	<div class="right_container">
		
		<div class="top_bar">

					<div class="header-nav-hud">
						<a style="opacity:1" href="#" @click="goBack()" ><span class="header-back-button-icon">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.17 13.51"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path id="Path_63" data-name="Path 63" class="header-back-icon-1" d="M6.78.77,1.15,7,6.78,12.7"/><path id="Path_64" data-name="Path 64" class="header-back-icon-1" d="M12.17,6.74H1.8"/></g></g></svg>
</span><span class="header-back-button-label">Back</span></a>
						<h2 class="header-nav-label">Home</h2>
					</div>
                    <div class="profile-and-search-container">
						<button class="header-profile-button">
							<img src="./assets/img/image.jpeg" alt="" class="header-profile-image">
						</button>
					</div>

		</div>
		<div class="main_container">
    		<router-view/>
		</div>
	</div>
	</div>
  </div>
</template>

<style>

 :root {
    font-size: 1.14vmax;
    --main-dark: #182533;
    --main-navy: #2F3943;
    --main-teal: #1D9EA6;
    --main-orange: #FF6600;
    --main-grey: #444D56;
    
}
* {
    -webkit-overflow-scrolling: touch;
    padding: 0px;
    margin: 0px;
    font-family: "Product Sans";
    overflow-wrap: break-word;
    font-style: normal;
    overflow-wrap: break-word;
}
body,
html  {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    overflow-x: hidden;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.side_nav {
    background: #e2e2e2;
    width: 15rem;
    height: 100vh;
    flex-shrink: 0;
    position: sticky;
    top: 0px;
    transition: 0.25s;
    overflow-y: scroll;
    overflow-x: hidden;
}
.side_nav_logo {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    padding: 1.2em;
    background: #fff;
}
.side-logo-label-container {
    height: 2.3em;
}
.side-logo-icon-container svg{
    height: 2.3em;
}
.side-logo-label-container {
    position: relative;
}
.side-logo-label-container {
    height: 2.3em;
    transform: translateY(-50%);
    top: 50%;
    width: 8em;
}
.side-navigation-item > a {
    display: grid;
    grid-template-columns: 2em 1fr;
    text-align: left;
    grid-gap: 1em;
    padding: 1.25em 1em;
    text-decoration: none;
}
.router-link-active{
	background: #c5c5c5
}
.side-navigation-item > a:hover{
	background: #c5c5c5
}
.side-navigation-label {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4em;
    color: #ba3847;
}
.side-navigation-icon {
    height: 1.6em;
    position: relative;
}
.side-navigation-icon svg{
    width: 80%;
    max-height: 1.2em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.li {
    text-decoration: none;
}
.app_container {
    display: flex;
}
.right_container {
    width: 100%;
    display: block;
}
.top_bar {
    height: 5rem;
    background: #BA3847;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 20;
}
.main_container {
}
.header-nav-hud > a {
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    color: #ffffff;
    margin-bottom: 0.3em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0.5em;
}
.header-back-button-icon > svg {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1em;
}
.header-back-icon-1 {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-width: 2.3px;
}
.header-nav-label {
    text-align: left;
    color: #ffffff;
    font-size: 1.5rem;
    clear: both;
}
.nav-icon-solid {
    fill: #fff;
    fill-rule: evenodd;
}
.icon-stroke-0{fill:#ba3847;}
.header-profile-button {
    height: 6em;
    width: 6em;
    border-radius: 50%;
    border: 2px solid #fff;
    background: transparent;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    outline: none;
}
.profile-and-search-container {
    display: grid;
    grid-template-columns: 3em 1fr 1fr 1fr 3em;
    grid-gap: 1em;
    direction: rtl;
}
.header-profile-image{
    height: 100%;
}

	.st0{display:none;fill:#ba3847;}
	.st1{display:none;fill:#3F679F;}
	.st2{fill:#ba3847;}
	.st3{fill:#3F679F;}
</style>
